<div class="btn-group mb-2 title-button-wrap delete">
<%= link_to 'Delete',
        post,
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn btn-danger btn-sm" %>
</div>
