<h1><%= @news_post.title %></h1>

<p> <%= simple_format(@news_post.text) %> </p>
<%= image_tag @news_post.image ? @news_post.image : "/news_post.png",
		width: "350",
		height: "300",
		style: "object-fit:cover;" %>
