<div class="news-post-wrap">
	<h1 class="title"><%= @news_post.title %></h1>
	<div class="news-post">
		<div class="text-news-p">
			<p> <%= simple_format(@news_post.text).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %> </p>
		</div>
		<div class="img-wrap">
			<%= image_tag @news_post.image ? @news_post.image : "/news_post.png", class: "post-img" %>
		</div>
	</div>
</div>
