<h1><%= @news_post.title %></h1>

<p> <%= simple_format(@news_post.text) %> </p>
<%= image_tag @news_post.image, 
      src: @news_post.image, 
      onerror: 'this.error=null;this.src="/gina.jpg"' %>
