<video id="main-video" controls="controls">
  <source src="/people_that_care.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div class="home-wrap">
  <h3 class="titles">Log In</h3>
    <div id="home-img-wrap">

      <%= link_to ( image_tag "/user-home.jpg", class: "image-login" ), user_login_path  %>

      <%= link_to ( image_tag "/charity-home.jpg", class: "image-login" ), charity_login_path  %>
    </div>
</div>

<div id="mission-wrap">
  <h3 class="titles">Mission</h3>
  <div class="mission-p">
    <p><span id="people-that-care">People that Care</span> is all about helping and giving back to your community through active <span id="people-that-care">charities organizations</span> who share their work online.</p>

    <p>The <span id="people-that-care">charities</span> share news stories about the good work that they are doing, and <span id="people-that-care">users</span> will have the opportunity to choose and follow the charities they want to receive news and do donations.</p>

    <div id="quote">
      <p><span id="people-that-care">“</span>Be the change that you wish to see in the world.<span id="people-that-care">”</span></p>
      <p><span id="people-that-care">―</span> Mahatma Gandhi</p>
    </div>
  </div>
</div>

<div id="about-us-wrap">
  <h3 class="titles">About Us</h3>
</div>
