<h1>This is <%= @charity.organization_name %>!</h1>

<% if user_logged_in? %>
  <% unless current_user.follows?(@charity) %>
    <%= link_to "Follow",
        follow_index_path(:params => {:charity => @charity}),
        {:action => :create,
        :method => :post}
    %>
  <% else %>
    <%= link_to "Unfollow",
        follow_path(:params => {:charity => @charity}),
        {:action => :destroy,
        :method => :delete}
    %>
  <% end %>
<% end %>

<h2>News Posts</h2>
<ul>
  <% @news_posts.each do |news_post| %>
    <li> <%= link_to news_post.title, news_post %> </li>
  <% end %>
</ul>
