<a 
class="twitter-timeline" 
data-width="250" 
data-height="250" 
data-link-color="#19CF86" 
href="<%= @url %>"
>Tweets by <%= @twitter_handle %></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>
