@import 'bootstrap-custom';

@import 'home';
@import 'users';
@import 'charities';
@import 'news';
@import 'profile_users';

 body {
   margin: 0;
   background-color: #F8F9FA;
   font-family: 'Open Sans', sans-serif;
 }
