<h2 class="title">Thank you!</h2>

<p class="donations">Your donation of 
          <strong><%= number_to_currency(@amount * 0.01) %>
          </strong>has been received.
</p>

<div class="img-donation-wrap">
  <img src="/donation-page.png" alt="People playing with water" class="image-donations">
</div>
